<%- include('navbar') %>

<section id="form-layout">
    <form method="POST" action="/form-layout">
        <div>
            <label for="username">username</label>
            <input type="text" name="username"/>
        </div>
   
        <div>
            <label for="password">password</label>
            <input type="password" name="password"/>
        </div>

        <%- callback ? callback.messageConfirmPassword : '' -%>

        <div>
            <label for="confirm-password">confirm-password</label>
            <input type="password" name="confirmPassword"/>
        </div>
   
        <button type="submit">Send Data</button>
      </form>   
</section>

<script>
    /*
        1. Mainin Game
        2. Proses Menghasilkan Result
        3. Tampilin Hasil Proses ke Front End
        4. Jalankan Fungsi Mengirim Data Ke BE Melewati API
    */

    function sendDataScore() {
        fetch('https://')
    }
    
    function resultGame() {
        sendDataScore()
    }
</script>

<%- include('footer') %>

